/* Animations */
@keyframes splash-title {
    0% {
        transform: scale(3,0);
    }
    25% {
        transform: scale(3,0);
    }
    100% {
        transform: scale(1,1);
    }
}
/* == */

* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    background: #f0f0f0;
    color: #0f0f0f;
    position: relative;
    height: 100%;
    font-family: 'Varela Round', sans-serif;
}
section {
    display: block;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
section .parallax-box {
    height: 200%;
    position: relative;
    top: -100%;
}
.parallax-box div {
    position: relative;
    top: 10%;
    color: #000;
}
section .content {
    position: absolute;
    top: 0;
    width: 100%;
}
.spacer {
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    background-color: #a0e5a0;
}
.bg01 {
    background-image: url('img/doodles.png');
}
.bg02 {
    background-image: url('img/hypnotize.png');
}
.bg03 {
    background-image: url('img/memphis-colorful.png');
}
#splash-title {
    display: block;
    position: relative;
    font-size: 12em;
    font-family: 'Varela Round', sans-serif;
    animation-name: splash-title;
    animation-duration: 0.5s;
}

/* Sections */
#section02 {
    height: 3000px;
}

#tut-phone {
    position: absolute;
    width: 359px;
    height: 737px;
    background-image: url('img/phone.png');
    background-repeat: no-repeat;
    top: 50px;
    left: 50%;
    margin-left: -180px;
}
#tut-step {
    position: absolute;
    left: 17px;
    top: 102px;
    width: 323px;
    height: 509px;
    overflow: hidden;
    background-image: url('img/tutorial/step_all.png');
    background-repeat: no-repeat;
    background-position: top left;
}